# Compiled binaries
measure_conv
measure_conv_fp16
measure_conv_universal
measure_matmul_universal
measure_conv_qdq
measure_conv_swift
measure_conv_ios
measure_ane_pmu
measure_conv_coreml
measure_conv_fp8
measure_matmul_fp8
convert_fp8_to_hwx

# Build artifacts and packages
*.o
*.dSYM
packages/
hwx_output/
.DS_Store
xcuserdata/
*.xcuserstate
build/
